.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
  }
  
  .auth-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    width: 100%;
  }

  .auth-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .overlay-content {
    background-color: #FFFAF4;
    color: #000000;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
  }

  .checkbox{
    width: 20px;
    height: 20px;
    margin-top: 20px;
  }