.about {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #FFFAF4;
  color: #000000;
  padding-top: 50px; /*zbog visine navbara*/
}

.chef{
  width: 800px;
  height: auto;
}

.aboutUs{
  width: 50%;
  margin-right: 50px;
}

.about-title{
  font-size: 40px;
}

.about-text{
  font-size: 16px;
}