.product {
  margin: 10px;
  padding: 10px;
  text-align: center;
  max-width: 250px;
  max-height: 350px;
}

.product-img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.add-to-cart-button {
  background-color: #DF8200;
  color: #000000;
}
