.special-offers {
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  color: #000000;
  padding-top: 50px; /*zbog visine navbara*/
}

.title{
  font-size: 35px;
  text-align: center;
  padding: 50px 0;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.go-to-menu {
  font-size: 20px;
  text-decoration: underline;
  float: right;
  margin-right: 15%;
  margin-top: 10%;
  cursor: pointer;
}