/* LoginPopup.css */

.login-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.login-popup-content {
  background: gray;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-popup h2 {
  margin-bottom: 20px;
}

.login-popup label {
  display: block;
  margin-bottom: 8px;
}

.login-popup input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-popup button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-popup button:hover {
  background-color: #45a049;
}

.login-popup button + button {
  margin-left: 10px;
  background-color: #f44336;
}
