/* ProductPopup.css */

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFAF4;
  color: #000000;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  text-align: center;
}

.popup img {
  width: 200px;
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
}

.size-label {
  margin-right: 10px;
  padding: 10px;
  display: inline-block;
}

.size-input {
  width: 50px;
  margin-right: 10px;
  padding: 5px;
}

.add-to-cart-btn,
.cancel-btn {
  background-color: #DF8200;
  color: white;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover,
.cancel-btn:hover {
  background-color: #ed9b26;
}
