.checkout {
  width: 100vw;
  height: calc(100vh - 51px);
  background-color: #FFFFFF;
  color: black;
  padding-top: 50px; 
}

.delivery-info {
  display: flex;
  height: 75vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  background-color: #FFFAF4;
  border-radius: 24px;
}

.left {
  flex: 1;
  margin: 100px 0px 150px 150px;
  padding-left: 200px;
}

.right {
  flex: 1;
  margin: 100px 150px 150px 0px;
  padding-right: 200px;
}

.order-btn {
  position: absolute;
  right: 20%;
  bottom: 15%;
}
