.customer-data-input {
  display: flex;
  flex-direction: column;
}

.orders-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: none;
  font-size: 14px;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  border-color: #DF8200;
}

.order-details{
  margin-left: 10px;
}

.order-again{
  margin-right: 20px;
}

.order{
  text-decoration: underline;
}

.order, .price{
  font-weight: bold;
}