/* Home.css */

.home {
  width: 100vw;
  height: 100vh;
  background-color: #FFFAF4;
  color: #000000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px; /*zbog visine navbara*/
}

.title-whole{
  display: flex;
  flex-direction: column;
  font-size: 30px;
  margin-left: 20px;
}

.title-pt2{
  display: flex;
  margin-top: -40px;
}

.experience{
  color: #DF8200;
  margin-left: 5px;
}

.home-img{
  width: 55%;
  height: 70%;
}