.delete-item-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .delete-item-popup-content {
    background: #ababab;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .delete-item-popup button {
    color: white;
    padding: 10px 15px;
    border: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: #000000;
    margin: 10px;
    cursor: pointer;
    width: 70px;
  }
  
  .delete-item-popup button:nth-of-type(1) {
    background-color: #b3b3b3;
  }
  .delete-item-popup button:nth-of-type(2) {
    background-color: #4F7942;
  }
  