body{
  margin: 0;
}

.admin {
  width: 100%;
  background-color: #FFFAF4;
  color: black;
  padding: 50px 0 20px 30px;
}

.admin-inventory{
  display: flex;
  justify-content: space-evenly;
}

.popup-parent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.popup-content {
  background-color: #FFFAF4;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  max-height: 600px;
  overflow-y: auto;
}

.x-btn{
  margin-left: 370px;
}

.add-btn{
  margin-top: 20px;
  margin-left: 90px;
}

.popup-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  width: 100%;
}

.admin-main-title{
  text-align: center;
  margin: 20px 0;
}

.admin-subtitles{
  display: flex;
  justify-content: space-evenly;
}

.dropbtn{
  background-color: #DF8200;
  margin: 0 20px;
}

.delete-icon{
  margin-left: 20px;
}