.profile {
  overflow-y: auto;
  margin: 0;
  left: 0;
  top: 0;
  position: absolute;
  width: 100vw;
  height: calc(100vh - 51px);
  margin-top: 50px; 
  background-color: #FFFFFF;
  color: #000000;
}

.container{
  background-color: #FFFAF4;
  width: 70%;
  border-radius: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom: 10px;
  padding: 30px;
}

/* .profile-btns{
  display: flex;
  flex-direction: column;
  width: 250px;
  border-style: solid;
  border-color: #DF8200;
  border-width: 2px;
  border-radius: 12px;
} */

.option{
  background-color: #FFFAF4;
  border-style: solid;
  border-color: #DF8200;
  border-width: 2px;
  border-radius: 12px;
  width: 50%;
  font-size: 25px;
  margin: auto;
  padding: 10px 0;
  cursor: pointer;
  padding: 15px 20px 15px 20px;
}

.account, .payment{
  font-size: 28px;
  text-align: center;
}

