.menu {
  overflow-y: auto;
  margin: 0;
  left: 0;
  top: 0;
  position: absolute;
  width: 100vw;
  height: calc(100vh - 51px);
  background-color: #FFFAF4;
  color: #000000;
  padding-top: 50px; /*zbog visine navbara*/
}

.menu-title{
  margin: 30px 0;
  text-align: center;
}

.product-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}