.tracking {
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.tracking-order-id{
  text-align: center;
  margin-bottom: 60px;
}

.statuses {
  display: flex;
  align-items: center;
}

.status {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: 5px;
  border: 2px solid black;
  background-color: #FCD19C;
}

.active-status .dot {
  background-color: #DF8200;
}
