.contact {
  width: 100vw;
  height: calc(100vh - 51px);
  display: flex;
  justify-content: space-evenly;
  background-color: #FFFFFF;
  color: #000000;
  padding-top: 50px; /*zbog visin navbara*/
}

.contact-photo{
  width: auto;
  height: 700px;
}

.contact-info{
  margin-left: 20px;
}

.contact-titles{
  font-size: 20px;
}

.row01{
  display: flex;
  justify-content: space-between;
}

.row02{
  display: flex;
}

.row2column2{
  margin-left: 200px;
}

.catering{
  margin-top: 50px;
}