.cart {
  overflow-y: auto;
  margin: 0;
  left: 0;
  top: 0;
  position: absolute;
  width: 100vw;
  height: calc(100vh - 51px);
  background-color: #FFFAF4;
  color: #000000;
  padding-top: 50px; /*zbog visine navbara*/
}

.cart-content{
  margin: 0 50px;
}

.dropbtn {
  background-color: #DF8200;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #d18b2a;
}

