.navbar {
  position: fixed;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 51px; /*visina navbara*/
  z-index: 10000; /*da bude preko svega*/
  background-color: #FFFFFF;
  text-decoration: none;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: auto;
  text-align: start;
  height: 100%;
}

.nav-list li {
  margin: 0 10px;
}

img{
  height: 50px;
  width: 100px;
  margin-left: 20px;
}

.nav-link {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

.active {
  font-weight: bold;
  color: #DF8200;
  text-decoration: none;
}

.navbar-login-cart {
  display: flex;
  position: fixed;
  right: 15px;
}

button {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  background-color: #FCD19C;
  border: none;
  border-radius: 12px;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.cart-icon{
  height: 30px;
}